.u-1,
.u-1-1,
.u-1-2,
.u-1-3,
.u-2-3,
.u-1-6,
.u-2-6,
.u-3-6,
.u-4-6,
.u-5-6,
.u-6-6 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
}

.u-1-6 {
    width: 16.6667%;
    *width: 16.6357%;
}

.u-1-3,
.u-2-6 {
    width: 33.3333%;
    *width: 33.3023%;
}

.u-1-2,
.u-3-6 {
    width: 50%;
    *width: 49.9690%;
}

.u-2-3,
.u-4-6 {
    width: 66.6667%;
    *width: 66.6357%;
}

.u-5-6 {
    width: 83.3333%;
    *width: 83.3023%;
}

.u-1,
.u-1-1,
.u-6-6 {
    width: 100%;
}

@media screen and (min-width: 30em) {
    .u-med-1,
    .u-med-1-1,
    .u-med-1-2,
    .u-med-1-3,
    .u-med-2-3,
    .u-med-1-6,
    .u-med-2-6,
    .u-med-3-6,
    .u-med-4-6,
    .u-med-5-6,
    .u-med-6-6 {
        display: inline-block;
        *display: inline;
        zoom: 1;
        letter-spacing: normal;
        word-spacing: normal;
        vertical-align: top;
        text-rendering: auto;
    }

    .u-med-1-6 {
        width: 16.6667%;
        *width: 16.6357%;
    }

    .u-med-1-3,
    .u-med-2-6 {
        width: 33.3333%;
        *width: 33.3023%;
    }

    .u-med-1-2,
    .u-med-3-6 {
        width: 50%;
        *width: 49.9690%;
    }

    .u-med-2-3,
    .u-med-4-6 {
        width: 66.6667%;
        *width: 66.6357%;
    }

    .u-med-5-6 {
        width: 83.3333%;
        *width: 83.3023%;
    }

    .u-med-1,
    .u-med-1-1,
    .u-med-6-6 {
        width: 100%;
    }
}

@media screen and (min-width: 48em) {
    .u-lrg-1,
    .u-lrg-1-1,
    .u-lrg-1-2,
    .u-lrg-1-3,
    .u-lrg-2-3,
    .u-lrg-1-6,
    .u-lrg-2-6,
    .u-lrg-3-6,
    .u-lrg-4-6,
    .u-lrg-5-6,
    .u-lrg-6-6 {
        display: inline-block;
        *display: inline;
        zoom: 1;
        letter-spacing: normal;
        word-spacing: normal;
        vertical-align: top;
        text-rendering: auto;
    }

    .u-lrg-1-6 {
        width: 16.6667%;
        *width: 16.6357%;
    }

    .u-lrg-1-3,
    .u-lrg-2-6 {
        width: 33.3333%;
        *width: 33.3023%;
    }

    .u-lrg-1-2,
    .u-lrg-3-6 {
        width: 50%;
        *width: 49.9690%;
    }

    .u-lrg-2-3,
    .u-lrg-4-6 {
        width: 66.6667%;
        *width: 66.6357%;
    }

    .u-lrg-5-6 {
        width: 83.3333%;
        *width: 83.3023%;
    }

    .u-lrg-1,
    .u-lrg-1-1,
    .u-lrg-6-6 {
        width: 100%;
    }
}
body {
    color: #FAA;
}

label.link {
  color: #FAA; text-decoration: underline; cursor: pointer;
}
a:link {color: #FAA; text-decoration: underline; }
a:active {color: #FAA; text-decoration: underline; }
a:visited {color: #AAF; text-decoration: underline; }
a:hover {color: #AFA; text-decoration: none; }

h1,h2,h3,h4,h5,h6 {
    color: #FFF;
}

.l-box {
    padding: 2em;
}

.header .pure-menu {
    border-bottom-color: black;
    border-radius: 0;
}
.pure-menu-link {
    padding: 1em 1em;
}
#giftAmount {
	color: #000;
	text-align: right;
	padding: 10px;
}
label.article:after {
	content: "";
	background-image: url('maximize.svg');
	background-size: 20px auto;
	width: 20px;
	height: 20px;
	display: block;
	position: absolute;
	color: #A30;
	top: 1em;
	right: 1em;
	z-index: 10000;
	transition: all .2s ease-in-out;
}
label.article:hover:after {
	transform: scale(1.5);
}
label.articleClose {
	margin: 0.5em;
	float:right;
	text-decoration:underline;
	color: #FAA;
}
label.articleClose,
label.article,
label.photoViewer {
  	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
}
input,button {
	color: #000;
}
input:invalid {
	border: 1px solid red;
}
input:valid {
	border: 1px solid green;
}
.articleState1,
.articleState2,
.articleState3,
.articleState4,
.articleState5 {
	position: relative;
	bottom: -25em;
	max-height: 0px;
	max-width: 0px;
}
div.article {
    max-height: 0px;
    transition: max-height 0.5s ease;
    -webkit-transition: max-height 0.5s ease;
    -o-transition: max-height 0.5s ease;
    -moz-transition: max-height 0.5s ease;
}
.articleState1:checked + div.article, 
.articleState1:checked + .articleState2 + div.article, 
.articleState1:checked + .articleState2 + .articleState3 + div.article, 
.articleState1:checked + .articleState2 + .articleState3 + .articleState4 + div.article, 
.articleState1:checked + .articleState2 + .articleState3 + .articleState4 + .articleState5 + div.article, 
.articleState2:checked + div.article + div.article, 
.articleState2:checked + .articleState3 + div.article + div.article, 
.articleState2:checked + .articleState3 + .articleState4 + div.article + div.article, 
.articleState2:checked + .articleState3 + .articleState4 + .articleState5 + div.article + div.article, 
.articleState3:checked + div.article + div.article + div.article,
.articleState3:checked + .articleState4 + div.article + div.article + div.article ,
.articleState3:checked + .articleState4 + .articleState5 + div.article + div.article + div.article,
.articleState4:checked + div.article + div.article + div.article + div.article,
.articleState4:checked + .articleState5 + div.article + div.article + div.article + div.article,
.articleState5:checked + div.article + div.article + div.article + div.article + div.article {
	max-height: 1000000px;
    transition: max-height 0.5s ease-in;
    -moz-transition: max-height 0.5s ease-in;
    -webkit-transition: max-height 0.5s ease-in;
    -o-transition: max-height 0.5s ease-in;
    border: thin solid #AAA;
}
div.photoViewer {
  position: relative;
  max-height: 0px;
  max-width: 0px;
}
div.photoViewer {
  position: fixed;
  display: none;
  overflow: hidden;
}
input.photoViewer {
	position: relative;
	bottom: -25em;
	max-height: 0px;
	max-width: 0px;
}
.photoViewer:checked + div.photoViewer {
  background: rgba(11,11,11,0.9);
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  overflow: auto;
  z-index: 10000000 !important;
  padding: 2% 2%;
}
.photoViewer:checked + div.photoViewer img {
  max-height: 100%;
  max-width: 100%;
  display: block;
  width: auto;
  height: auto;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.photoViewer:checked + div.photoViewer .close {
	cursor: pointer;
	content: "";
	background-image: url('close.svg');
	background-size: cover;
	width: 10vh;
	height: 10vh; 
	display: block;
	position: absolute;
	color: #A30;
	top: 2vh;
	right: 4vw;
	z-index: 10000001;
	transition: all .2s ease-in-out;
}
.photoViewer:checked + div.photoViewer .close:hover,
.photoViewer:checked + div.photoViewer .prev:hover,
.photoViewer:checked + div.photoViewer .next:hover {
	transform: scale(1.2);
}
.photoViewer:checked + div.photoViewer .prev {
	cursor: pointer;
	content: "";
	background-image: url('prev_image.svg');
	background-size: cover;
	width: 10vh;
	height: 10vh; 
	display: block;
	position: absolute;
	color: #A30;
	bottom: 2vh;
	left: 4vw;
	z-index: 10000001;
	transition: all .2s ease-in-out;
}
.photoViewer:checked + div.photoViewer .next {
	cursor: pointer;
	content: "";
	background-image: url('next_image.svg');
	background-size: cover;
	width: 10vh;
	height: 10vh; 
	display: block;
	position: absolute;
	color: #A30;
	bottom: 2vh;
	right: 4vw;
	z-index: 10000001;
	transition: all .2s ease-in-out;
}
#wedding_article .photo-box {
  padding: 10px;
}
label.photoViewer:after {
	content: "";
	background-image: url('maximize.svg');
	background-size: 20px auto;
	width: 20px;
	height: 20px;
	display: block;
	position: absolute;
	color: #A30;
	top: 1em;
	right: 1em;
	z-index: 100002;
	transition: all .2s ease-in-out;
}
label.photoViewer:hover:after {
	transform: scale(1.5);
}
/* allow full-row elements have dynamic height */
.u-1.full-row  {
	height: auto;
}
.photo-box, .text-box {
    overflow: hidden;
    position: relative;
    height: 250px;
    text-align: center;
}

.photo-box-thin {
    height: 120px;
}


    .photo-box img {
        max-width: 100%;
        height: auto;
        min-height: 250px;
    }

    .photo-box aside {
        position: absolute;
		max-height: 0px;
        bottom: 0;
        right: 0;
        padding: 1em 0.5em;
        width: 100%;
        font-size: 80%;
        text-align: right;
		opacity: 0;
        background: -moz-linear-gradient(top,  rgba(16,27,30,0) 0%, rgba(12,2,2,0.75) 90%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(16,27,30,0)), color-stop(90%,rgba(12,2,2,0.75))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(16,27,30,0) 0%,rgba(12,2,2,0.75) 90%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(16,27,30,0) 0%,rgba(12,2,2,0.75) 90%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(16,27,30,0) 0%,rgba(12,2,2,0.75) 90%); /* IE10+ */
        background: linear-gradient(to bottom,  rgba(16,27,30,0) 0%,rgba(12,2,2,0.75) 90%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00101b1e', endColorstr='#0c0202',GradientType=0 ); /* IE6-9 */
		transition: max-height 1.5s ease, opacity 1.5s ease;
		-webkit-transition: max-height 1.5s ease, opacity 1.5s ease;
		-o-transition: max-height 1.5s ease, opacity 1.5s ease;
		-moz-transition: max-height 1.5s ease, opacity 1.5s ease;
    }
    .photo-box:hover aside {
		opacity: 1;
		height: auto;
		max-height: 200px;
		transition: max-height 1.5s ease-in, opacity 0.5s ease-in;
		-moz-transition: max-height 1.5s ease-in, opacity 0.5s ease-in;
		-webkit-transition: max-height 1.5s ease-in, opacity 0.5s ease-in;
		-o-transition: max-height 1.5s ease-in, opacity 0.5s ease-in;
    }

    .photo-box aside span {
        color: #DDD;
    }

    .photo-box aside span a {
    	color: #ccc;
        text-decoration: none;
    }

.text-box {
    background: rgb(49, 49, 49); /* bluish grey */
    color: rgb(255, 190, 94); /* steel blue */
}

.text-box-head {
	color: #fff;
	padding-bottom: 0.2em;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	font-size: 24px;
}

.text-box-subhead {
	font-weight: normal;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

.form-box {
    text-align: center;
    font-size: 120%;
    border-bottom: 1px solid #eee;
}

    .form-box .pure-button {
        background-color: #61B842;
        color: white;
        vertical-align: top;
        font-size: 85%;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        border-radius: 4px;
        margin: 0.3em;
    }
    .pure-form input[type] {
        margin: 0.3em auto;
        text-align: center;
    }

.header, .footer {
    background: #111;
    color: #666;
    text-align: center;
    padding: 1em;
    font-size: 80%;
}
.header {
	text-align: left;
}

@media (min-width: 30em) {
    .photo-box, .text-box {
        text-align: left;
    }

    .photo-box-thin {
        height: 250px;
    }
}

.grid-list-left {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
-webkit-justify-content: flex-end;
	-moz-justify-content: flex-end;
	-ms-justify-content: flex-end;
	justify-content: flex-end;
}
.grid-list-right {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}
.grid-list-image {
	border: #000 thin solid;
	width: 60%;
	float:right;
}
.grid-list-text {
	padding: 2em;
}
.giftScreenState {
	position: absolute;
	top: 25em;
	max-height: 0px;
	max-width: 0px;
}
.giftScreenState:checked + div.giftScreen {
	display: block;
}
label.giftScreen
{
  	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
}
div.giftScreen {
	display: none;
	overflow: hidden;
}
div.giftScreenBack {
	display: none;
}
.giftScreenState:checked + div.giftScreen + div.giftScreenBack {
	text-align: right;
	display: block;
}
.giftScreenBack2{
	color: #CCC;
	margin-left: 1.5em;
}
.giftScreenBack {
	color: #CCC;
	margin-left: -0.5em;
}
.giftSubmit {
    background: transparent;
	border: none;
    cursor: pointer;
}

/* FROM ANIMATE.CSS */

/*!
 * animate.css -http://daneden.me/animate
 * Version - 3.5.1
 * Licensed under the MIT license - http://opensource.org/licenses/MIT
 *
 * Copyright (c) 2016 Daniel Eden
 */

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}

.bounceInDown {
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
}
